---
import BaseLayout from "../layouts/BaseLayout.astro";
import TechStripe from "../components/sections/TechStripe/TechStripe.astro";
import Hero from "../components/sections/Hero/Hero.astro";
import About from "../components/sections/About/About.astro";
import WhoFor from "../components/sections/WhoFor/WhoFor.astro";
import ProofPack from "../components/sections/ProofPack/ProofPack.astro";
import Testimonials from "../components/sections/Testimonials/Testimonials.astro";
import Footer from "../components/sections/Footer/Footer.astro";
---

<BaseLayout>
  <main id="main">
    <Hero />
    <TechStripe />

    <About />
    <WhoFor />

    <ProofPack />
    <Testimonials />

    <Footer />
  </main>
</BaseLayout>
